html{
    scroll-behavior: smooth;
}


section{
    margin: 100px;
}
header p{
    color: antiquewhite;
    
}

h1{
     font-size: 65px ;
     color: white;;
     
}

h2{
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;

}

.carousel-caption h5{
    padding-bottom: 300px;
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
   
}




